@model Web.Models.Role.RoleModel

<form method="post" action="@Url.Action("CreateRole","Roles")">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Roles</h2>
            <hr />
        </div>
    </div>
    <div class="from-group">
        <label class="control-label">User</label>
        @Html.DropDownList("UserId", new SelectList(Model.UserList,"Id","DisplayName"), "Select User", new { @class = "form-control" })
        
    </div>
        <label for="Name">Name</label><br />
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required="required" })
    <br />
        <label for="Description">Description</label><br />
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @required="required" })
    <br />
       
    <button type="submit" value="save" class="btn btn-primary" style="width:150px">Create</button>
    <a asp-controller="Roles" asp-action="ListRole" class="btn btn-secondary" style="width:150px">
        Back to List
    </a>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

